@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    li {
        @apply px-4;
        @apply cursor-pointer;
        @apply font-bold;
        @apply text-lg;
    }
}

.banner {
    background: url("assets/banner_cafe_1.png") no-repeat right center;
    background-size: cover;
}

.about {
    background: url("assets/about_3.webp") no-repeat right center;
    background-size: cover;
}

.skills {
    background: url("assets/black.webp") no-repeat right center;
    background-size: cover;
}

.work {
    background: url("assets/work_2.webp") no-repeat right center;
    background-size: cover;
}

.contact {
    background: url("assets/contact_8.webp") no-repeat right center;
    background-size: cover;
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 120px;
    width: 120px;
}

.content-div-sm {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 120px;
    width: 120px;
}

.content-div:hover {
    background-image: linear-gradient(
            to right,
            rgba(6, 78, 59, 0.9),
            hsla(140, 74%, 61%, 0.8)
    ) !important;
}

.minilogo{
    height: 32px;
    width: 32px;
}